# Global directories
__pycache__/

# Global files
*.py[codz]

# Root directories
/.venv/
/venv/
/.idea/
/.vscode/
/.coverage_html/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/

# Project files
/src/msl/nlf/_version.py

# doctest files
samples.nlf