# Global directories
__pycache__/

# Global files
*.py[codz]

# Root directories
/.venv/
/venv/
/.idea/
/.vscode/
/.coverage_html/
/.mypy_cache/
/.pytest_cache/
/.ruff_cache/

# Project files
/src/msl/nlf/_version.py

# doctest files
/samples.nlf
/docs/assets/example_damped_oscillator.txt
/docs/assets/example_weighted_correlated_input.txt
/docs/assets/example_weighted_correlated_result.txt
/docs/assets/images/example_damped_oscillator.svg
/docs/assets/images/example_matplotlib.svg
